@keyframes bounce {
  0% { transform: translateY(-2000px); }
  70% { transform: translateY(30px); }
  90% { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}
/*плавный спуск формы*/

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

$main-color: #f39f18;
$headers-color: #2c3949;

body {
  font-size: 15px;
  min-width: 320px;
  position: relative;
  line-height: 1.375em;
  font-family: 'RalewayRegular', sans-serif;
  color: #333333;
  overflow-x: hidden;
}

.hidden {
  display: none;
}

a, a:hover, a:focus, a:active {
  color: $main-color;
  text-decoration: underline;
}

.headers {
  font-family: 'PFCentroSlabProMedium', sans-serif;
  text-transform: uppercase;
  font-weight: normal;
  color: $headers-color;
}

h1, h2, h3, h4, h5, h6 {
  @extend .headers;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 30px;
  line-height: 1.2;
}

h3 {
  font-size: 24px;
}

b, strong {
  font-family: 'RalewayBold', sans-serif;
}

.main-head h1 {
  text-transform: none;
}

.before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.trans {
  transition: all .5s ease;
}

.ulmenu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  & li {
    display: inline-block;
  }
}

.main-head {
  position: relative;
  background-size: cover;
  background-position: center;
  padding-bottom: 120px;
  &::before {
    @extend .before;
    background-color: #394b5f;
    opacity: 0.85;
  }
}
/*мой вариант line-gradient:*/
.gradient-top {
  min-height: 329px;
  width: 100%;
  background-image: url(../../assets/images/header-gradient.png);
  position: absolute;
}

.top-line {
  padding-top: 45px;
}

.logo {
  & img {
    width: 100px;
    opacity: 0.95;
  }
}

.main-mnu {
  display: block;
  font-size: 14px;
  & ul {
    @extend .ulmenu;
    & li {
      line-height: 48px;
      padding-right: 20px;
      &.active a, & a:hover, & a:active  {
        color: $main-color;
        text-decoration: underline;
      }
      & a {
        text-decoration: none;
        color: #ffffff;
      }
    }
  }
}

.phone-wrap {
  position: relative;
}

.phone {
  font-size: 20px;
  font-family: 'RobotoBold', sans-serif;
  color: #ffffff;
  opacity: 0.9;
  line-height: 48px;
  text-align: right;
  white-space: nowrap;
}

.toggle_mnu {
  display: block;
  float: right;
  position: absolute;
  right: 0;
  top: 0;
  line-height: 48px;
  text-align: center;
}
/*псевдо-кнопка*/
/* Important styles */
.toggle_mnu {
  display: block;
  width: 28px;
  height: 28px;
  margin: 22px auto 0;
}

#toggle span:after,
#toggle span:before {
  content: "";
  position: absolute;
  left: 0;
  top: -9px;
}
#toggle span:after{
  top: 9px;
}
#toggle span {
  position: relative;
  display: block;
}

#toggle span,
#toggle span:after,
#toggle span:before {
  width: 100%;
  height: 3px;
  background-color: #ffffff;
  transition: all 0.3s;
  backface-visibility: hidden;
  border-radius: 2px;
}



/* on activation */
#toggle.on span {
  background-color: transparent;
}
#toggle.on span:before {
  transform: rotate(45deg) translate(5px, 5px);
}
#toggle.on span:after {
  transform: rotate(-45deg) translate(7px, -8px);
}

.mainMenuShow {
  display: block;
  animation: bounce 0.6s;
}

.mainMenuNone {
  display: none;
}

.header-wrap {
  margin-top: 40px;
  & h1 {
    margin-top: 120px;
    color: #ffffff;
    border-bottom: 8px solid $main-color;
    display: inline-block;
    padding-bottom: 7px;
    line-height: 1.3;	
  }
  & ul {
    @extend .ulmenu;
    margin-top: 10px;
    & li {
      display: block;
      font-family: 'RalewaySemiBold', sans-serif;
      font-size: 18px;
      line-height: 32px;
      & a {
        text-decoration: none;
        color: #ffffff;
      }
      & a:hover {
        text-decoration: underline;
      }
    }
    & li:before {
      content: url(../../assets/images/Polygon.png);
      padding-right: 10px;
    }
  }
}

.header-left {
  margin-bottom: 40px;
}

.forms {
  opacity: 0.8;
  background-color: #243343;
  box-shadow: 0 4px 0 rgba(0, 0, 0, 0.6);
  padding: 35px 35px 30px;
  color: #97a4b2;
  font-size: 14px;
  
  & h4 {
    color: #ffffff;
    font-family: 'PFCentroSlabProMedium', sans-serif;
    font-size: 28px;
    line-height: 22px;
    text-transform: none;
    margin: 0;
    
  }
  & p {
    line-height: 23px;
    margin-top: 15px;
  }
  & label {
    display: block;
    margin: 22px 0;
    & span {
      letter-spacing: 0.1em;
      margin-bottom: 6px;
      display: block;
      color: #778390;
    }
    & input {
      display: block;
      width: 100%;
      background-color: #34465a;
      box-shadow: inset 0 3px 0 rgba(0, 0, 0, 0.4);
      border: none;
      text-indent: 10px;
      padding: 13px 0;
      transition: all .5s ease;
      color: #ffffff;
      font-family: 'PFCentroSlabProMedium', sans-serif;
      font-size: 18px;
      &:focus {
        box-shadow: inset 0 7px 0 rgba(0, 0, 0, 0.4);
        outline: none;
        background-color: color(#34465a blackness(50%));
      }
    }
  }
  .buttons {
    margin-top: 10px;
  }
}

.button-wrap {
  text-align: center;
}

.buttons {
  display: inline-block;
  border: none;
  color: #111;
  font-family: 'PFCentroSlabProBold', sans-serif;
  font-size: 20px;
  line-height: 22px;
  background-color: $main-color;
  box-shadow: 0 3px 0 #b97200;
  padding: 12.5px 34px;
  text-decoration: none;
  transition: all .5s ease;
  &:hover {
    background-color: #ffb338;
    text-decoration: none;
    color: #111;
    }
    &:active {
      background-color: #db8c0e;
      text-decoration: none;
      color: #111;
    }
    &:active {
      color: #111111;
    }
}

.arrow-wrap {
  text-align: center;
  position: relative;
  z-index: 2;
  top: 50px;
}

.arrow-bottom {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-image: url(../../assets/images/arrow_down.png);
  cursor: pointer;
  opacity: 0.7;
  transition: all .25s ease;
  &:hover {
    opacity: 1;
  }
}



